/*=========GENERAL SETTINGS========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=========GENERAL SETTINGS========*/

/* ============COLORS============= */
:root {
    --bg-color: rgb(121, 169, 241);
    --primary-color: white;
}
/* ============COLORS============= */

main {
    background-color: var(--bg-color);
    width: 200vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    flex-direction:column ;
    width: 40em;
    height: 30em;
    background: var(--bg-color);
    padding: 1em;
}
/* FIRST ROW */

.top-main-container {
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;
    height: 5em;
    position: relative;
}

/* === top left section*/
.top-left-container {
    display: flex;
    flex-direction: column;
    background-color:var(--primary-color);
    width: 15em;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    padding: .8em 0.5em;
}
.top-left-top-line {
    width: 90%;
    height: 20%;
    background-color: var(--bg-color);
}
.top-left-middle-line {
    width: 90%;
    height: 12.5%;
    background-color: var(--bg-color);
}
.top-left-bottom-line {
    width: 25%;
    height: 40%;
    background-color: var(--bg-color);
    justify-self: flex-end;
}
/* === top left section*/

/* === top middle section*/
.top-middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color);
    width: 15em;
    height: 5em;
}
.top-middle-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: var(--bg-color);
}
.top-middle-triangle{
    width: 1em;
    height: 1em;
    background-color: var(--primary-color);
    -webkit-clip-path: polygon(29% 1%, 30% 100%, 100% 47%);
    clip-path: polygon(29% 1%, 30% 100%, 100% 47%);
    --primary-color: white;
}
/* === top middle section*/

/* === top right section*/
.top-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 5em;
    height: 7.5em;
    position: absolute;
    top: 0;
    right: 0;

}
.top-right-line {
    width: 100%;
    height: 8.5%;
    background-color: var(--primary-color);
}
/* === top right section*/
/* FIRST ROW */

/* SECOND ROW */
.middle-main-section {
    display: flex;
    justify-content: space-between;
    width:38em;    
}

.phone-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    width: 5.5em;
    height: 10em;
    border-radius: 5.8%;
}

.phone-speaker {
    width: 2.75em;
    height: 0.1em;
    background-color: var(--bg-color);
    margin-top: 0.5em;
}
.phone-screen {
    width: 5em;
    height: 7.5em;
    background-color: var(--bg-color);
}

.phone-circle-main {
    width: 1.25em;
    height: 1.25em;
    border-radius: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-circle-inner {
    width: 1.1em;
    height: 1.1em;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.middle-image {
    width: 20em;
    height: 10em;
    background-color:var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middle-image-container-center{
    position: relative;
    margin-bottom: 4em;
    margin-right: 4em;
}
.middle-image-circle{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
}

.middle-image-big-triangle{
    width: 5em;
    height: 3.5em;
    background-color: var(--bg-color);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: 1em;
    left: 1.5em;
}
.middle-image-small-triangle{
    width: 2.5em;
    height: 1.75em;
    background-color: var(--bg-color);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: 2.75em;
    left: 0;
}

.slide-dot {
    width: 0.2em;
    height: 0.2em;
    border-radius: 100%;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 1em;
}

.slide-dot-1 {
    left: 11em;
}
.slide-dot-2 {
    left: 11.5em;
}
.slide-dot-3 {
    left: 12em;
}

.left-image {
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
}
.bottom-container {
  width: 10em;  
  height: 2em;
  background-color: var(--bg-color);
  display: flex;
}

.bottom-shape-container {
    width: 2em;
    height: 1em;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin-right: 7px;
    display: flex;
    justify-content: start;
}

.bottom-shape-container-2{
    justify-content: flex-end;
}
.bottom-circle {
    width:1em;
    height: 1em;
    border-radius: 100%;
    background-color: var(--primary-color);
    border-right: 0.1px solid var(--bg-color);
}

.bottom-circle-2 {
    background-color: var(--bg-color);
}

.small-image {
    width: 10em;
    height: 8em;
}
.small-image-container-center {
    width: 100%;
    height: 100%;
    background-color:var(--primary-color);
    position: relative;
}
.small-image-circle {
    width: 1em;
    height: 1em;
    top: 2.5em;
    left: 2.75em;
}

.small-image-small-triangle {
    width: 2em;
    height: 1.5em;
    background-color: var(--bg-color);
    top: 4.5em;
    left: 2.75em;
}

.small-image-big-triangle{
    width: 4em;
    height: 2.75em;
    top: 3.25em;
    left: 4em;
}
/* SECOND ROW */

/* THIRD ROW */

.bar-container{
    display: flex;
    justify-content: space-between;
    color: var(--bg-color);
}

.bar {
    width: 26.75em;
    height: 1.5em;
    background-color: var(--primary-color);
    align-self: flex-start;
    margin-right: 0.5em;
}   

.short-bar {
    width: 21em;
    height: 1.5em;
    background-color:var(--bg-color);
    border: 0.1em solid var(--primary-color);

}

.icon-box {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* THIRD ROW */

